<html>
<head>
Teoria de los juegos evolutivos

<STYLE type="text/css">
P.justificar {text-align: justify}
</STYLE>

</head>

<body>

<h3>Teoria de juegos evolutivos: machos fieles y atorrantes, hembras faciles y esquivas</h3>

<P class="justificar">
Supongamos que tenemos dos tipos de jugadores, machos y hembras, y dos tipos de estrategia para cada uno de los tipos de jugadores. Los machos pueden ser fieles o atorrantes y las hembras pueden ser f&aacute;ciles y esquivas. Supongamos que la ventaja evolutiva por tener una  cr&iacute;a le da 15 puntos a cada uno de los padres, supongamos que el coste para tener una criar una cr&iacute;a con &eacute;xito es de 20 puntos, este coste se puede repartir entre los padres o lo pude pagar solo la hembra dependiendo del tipo de estrategia, supongamos que en un cortejo se pierden 3 puntos:
</P>

<P class="justificar">
- En un encuentro de macho atorrante con una hembra f&aacute;cil, le da al macho 15 puntos y a la hembra -5 puntos.
</P>

<P class="justificar">
- Un encuentro entre un macho fiel y una hembra esquiva, el macho gana 2 puntos, esto es 15 de la cr&iacute;a -10 de la crianza compartida, -3 del cortejo. La hembra tambi&eacute;n obtiene el mismo puntaje.
</P>

<P class="justificar">
- Un encuentro entre un macho atorrante y una hembra esquiva cada uno obtiene 0 puntos, no tienen ninguna cr&iacute;a, no hay cortejo, ni hay costo de crianza.
</P>

<P class="justificar">
- Un encuentro entre un macho fiel y una hembra f&aacute;cil, el macho consigue 5 puntos y la hembra tambi&eacute;n consigue 5 puntos.
</P>





<P class="justificar">
<b>
<a href="/realizaUnaSimulacionDeMachosYHembrasMuestraEvolucion" target="_blank">
Realiza simulacion y mostrar evolucion
</b>
</a>
</P>


</body>


</html>
